@import '~bootstrap/scss/bootstrap';
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background-size: cover;
  background-color: bisque;
  margin-top: 65px;
  background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                url('https://c1.staticflickr.com/9/8469/8412862833_35a92407c4_b.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#tron-container {
  width: 75%;
  margin:0 auto;
  margin-top: 10%;
}

#bio {
  width: 95%;
  margin:0 auto;
}

#bio-pic{
  width: 100%;
  // margin:0 auto;
}

#project-container {
  width: 85%;
  margin:0 auto;
}

#tech {
  text-align: center;
}

#tech-header {
  color: rgba(242, 211, 175, 1);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#test-div {
  width: 50%;
  margin:0 auto;
}

.project, .technology, .jumbotron {
  background-color: rgba(253, 248, 243, 1);
}

$color1: rgba(242, 211, 175, 1);
$color2: rgba(129, 193, 75, 1);
$color3: rgba(46, 147, 60, 1);
$color4: rgba(41, 112, 69, 1);
$color5: rgba(32, 78, 74, 1);
$color6: rgba(249, 236, 220, 1);
$color7: rgba(253, 248, 243, 1);
