@import '~bootstrap/scss/bootstrap';
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background-size: cover;
  background-color: bisque;
  margin-top: 65px;
  background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                url('https://c1.staticflickr.com/9/8469/8412862833_35a92407c4_b.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#tron-container {
  width: 75%;
  margin:0 auto;
  margin-top: 10%;
}

#project-container {
  width: 75%;
  margin:0 auto;
}

#tech {
  text-align: center;
}

#tech-header {
  color: lightyellow;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}