@import '~bootstrap/scss/bootstrap';
#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background-size: cover;
  background-color: bisque;
  margin-top: 65px;
  background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                url('https://c1.staticflickr.com/9/8469/8412862833_35a92407c4_b.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#tron-container {
  width: 75%;
  margin:0 auto;
  margin-top: 10%;
}

#bioPage {
  margin: 5px;
  height: 90%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#bioPage {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
}

.bioPic {
  width: 40%;
  height: auto;
  align-self: flex-start;
}

#bio {
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
  background-color: black;
  padding: 5px;
  text-align: justify;
}

#tech {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.projectInfo {
  display: column;
}
